<h1>範囲指定フォーム</h1>
<%= form_tag datebodydata_path, :method => :get do %>
<p>
グラフ描写開始日
</p>
<p>
<%= autocomplete_field_tag :start_date_search, params[:start_date_search], autocomplete_datebodydatum_date_datebodydata_path, :autocomplete => "off" %>
</p>
<p>
グラフ描写最終日（未記載の場合1週間分を表示）
</p>
<p>
<%= autocomplete_field_tag :end_date_search, params[:end_date_search], autocomplete_datebodydatum_date_datebodydata_path, :autocomplete => "off" %>
</p>
<%= submit_tag "表示" %>
<% end %>
